.cabecalhoPrincipal .container {
	display: flex;
	align-items: center;
	
}

.cabecalhoPrincipal-nav {
	display: flex;
	justify-content: space-between;
}

.cabecalhoPrincipal-nav-link {
	margin: 0 0 0 60px;
}

#agendamento {
	position: relative;
	left: 30%;
}

.conteudoPrincipal {
	display: flex;
	
}

.psico {
	display: inline-block;
	position: relative;
	width: 300px;
	bottom: 30%;
	left: 20%;
	color: purple;
}

.texto {
	display: inline-flex;
	position: relative;
	width: 500px;
	top: 50px;
	right: 120px;
}

.campo-texto {
	position: relative;
	bottom: 30%;
	width: 50%;
	left: 200px;
}

.agendar-consulta {
	display: flex;
	position: relative;
	top: 60px;
	left: 255px;
	width: 180px;
	height: 20px;
	justify-content: center;
	
}

.img-gif {
	display: block;
	position: relative;
	top: 39px;
	left: 259px;

}

.imagemgabi {
	display: flex;
	position: relative;
	width: 400px;
	bottom: 400px;
	left: 400px;
}

.textogabicontainer {
	display: block;
	justify-content: center;
}

.textogabi {
	display: block;
	position: relative;
	width: 350px;
	left: 1000px;
	bottom: 800px;
}

.instagram {
	display: flex;
	position: absolute;
	top: 1500px;
	width: 94%;
	padding-left: 10px;
	padding-bottom: 500px;


}

.textoinstagram {
	display: flex;
	position: relative;
	top: 250px;
	left: 50px;

}


footer {
	display: flex;
	justify-content: space-around;
	padding: 20px;
}

@media(max-width: 768px){

			img {
	  			display: flex;
	  			width: 200px;
	  			justify-content: flex-start;
  			}

			.container {
				background-color: #fbe7db;
				width: 200%;
				margin: 0 auto;
			 } 

  			.cabecalhoPrincipal-nav {
  				display: flex;
  				flex-direction: column-reverse;
  			}

  			#agendamento {
  				position: relative;
  				left: 0;
  			}

  			.psico {
  				display: inline-block;
				position: relative;
				width: 300px;
				bottom: 30%;
				left: 0px;
				right: 10px;
				color: purple;
  			}

  			.texto {
  				  display: inline-flex;
				  position: relative;
				  width: 500px;
				  top: 20px;
				  right: 70px;

  			}

  			.imagemgabi {
  				display: flex;
				position: relative;
				width: 200px;
				bottom: 200px;
				left: 210px;
  			}

  			.agendar-consulta {
  				display: flex;
				position: relative;
				top: 30px;
				left: 25px;
				width: 180px;
				height: 20px;
				justify-content: center;
  			}

  			.img-gif {
  				display: block;
				position: relative;
				top: 10px;
				left: 29px;
  			}

  			.textogabi {
				  display: block;
				  position: relative;
				  width: 350px;
				  left: 140px;
				  bottom: 80px;
			}
			
			footer {
				  display: flex;
				  justify-content: space-around;
				  padding: 20px;
				  position: relative;
				  top: 1000px;
				  font-size: 12px;	  
			}	  
}

